body{
background-color:#ffffb3;
}

.list{
    width: 300px;
    background-color: #fff;
    border-color: #000;
    border-style: solid;
    border-width: thin;
    float: left;
    padding: 10px;
    margin:10px;
}
.list h3{
    margin: 0px;
    padding: 0px;  
}
.deletebutton{
    float: right;
    margin-top: -20px;
}
.cardtile{
    width: 260px;
    height:100px;
    border-color: #000;
    border-style: solid;
    border-width: thin;
    margin: 10px;   
    padding: 10px;
}
.cardtile h4
{
    margin: 0px;
    padding: 0px;
}
.carddescription{
    font-size: 15px;
    color:#ff0066;
}
#description{
    width:500px;
    height:40px;   
}
#comment
{
    width:500px;
    height:100px;
    margin-top: 20px;
}
.deletecard{
    float:right;
}

.card{
    min-height: 400px;
    max-width: 630px;
    margin:0 auto;
    border-color: #000;
    border-style: solid;
    border-width: thin;
    padding: 20px;
    background-color: ivory;
}
.addcomment{
    margin-top: 20px;
    margin-right: 10px;
}
.linktocardtile
{
    color:#000;
    text-decoration:none;
}


#changetitle{
    background: transparent;
    border: 0px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}
.comment{
margin-top:20px;
padding:0px;
}
.comment h4
{
    padding: 0px;
    margin: 0px ;
}

.comment td{

    width: 250px;
}
