<div class=card>
   {{input id="changetitle" placeholder="Card Title" value=@cards.title}}
        {{input id="description" placeholder="Card Description" value=@cards.description}}
        <button type="button" class="deletecard" {{action 'deleteCard' cards}}>Delete card</button>
        
        
        {{input id="comment" placeholder="Comment" value=commentbox}}
        <br>
        <button type="submit" class="editcard" {{action 'editCard' cards}}>Save</button>
        
        <button type="button" class="addcomment"  {{action 'addComment' cards}}>Add comment</button>

    <br><br>
    <LinkTo @route="index">Go back</LinkTo> 

    <div class="comment">
      
      <h4>Comments:</h4>
      <br>
      {{#each @cards.comments as |comments|}}
      <table>
          <tr>
         <td> {{comments.comment}}</td>
          <td>{{comments.date}}</td>
          </tr>
          </table>
      {{/each}}
        </div>
    </div>