<div class="list">
<h3>List 1</h3>
<button type="button" class="deletebutton">Delete this list</button>
{{#each @cards as |carddetails|}}
{{#link-to 'cards' carddetails class="linktocardtile"}}
<List::Cardtile @carddetails={{carddetails}}/>
{{/link-to}}
{{/each}}
<div class="addcard">{{#link-to 'newcard'}}Add new card..{{/link-to}}</div>
</div>

