<div class=card>
   {{input id="changetitle" placeholder="Card Title" value=cardtitle}}
        {{input id="description" placeholder="Card Description" value=carddescription}}
        {{input id="comment" placeholder="Comment" value=comment}}
        <br>
        <button type="button" class="addcomment" {{action 'saveDetails'}}>Save</button>
        
    <br><br>
    <LinkTo @route="index">Go back</LinkTo>  
    </div>